[data-md-color-scheme="default"] {
  --md-primary-fg-color: #3F92D2;
  --md-accent-fg-color: #0B62A4;
  --md-default-bg-color: #cde3f3;
  --md-default-fg-color: #4a4a4a;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #3F92D2;
  --md-accent-fg-color: #0B62A4;
  --md-default-bg-color: #043E6B;
  --md-default-fg-color: #ffffff;
  --md-code-bg-color: #0B62A4;
  --md-code-fg-color: #cfcfcf;
}

.md-content h1, .md-content h2, .md-content h3, .md-content h4 {
    font-weight: 600;
}

p {
    font-size: 16px;
}